# PostgreSQL
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/nexhire_dev
SPRING_DATASOURCE_USERNAME=nexhire
SPRING_DATASOURCE_PASSWORD=root1234

# RabbitMQ
SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_USERNAME=nexhire
SPRING_RABBITMQ_PASSWORD=root1234

# JWT
JWT_SECRET=lQffSG11g0obJA99ttgylKZuxHHgTnuUH0V1cDRstsK_algorithm
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

# Next.js
NEXT_PUBLIC_API_URL=http://localhost:8080/api
